aiofiles>=24.1,<26
aiohttp>=3.10,<4
aiohttp-session>=2.12,<3
cryptography>=43,<47
pyrofork>=2.3.45,<3
python-dotenv>=1.0,<2
tgcrypto>=1.2.5,<2
uvloop>=0.20,<1; platform_system != "Windows"
pymongo>=4.8,<5
